.ex-container {
  margin-bottom: 100px;
}

.ex-images {
  width: 100%;
  object-fit: cover;
  height: 45vh;
  margin-top: 3rem;
}

.object-p1 {
  object-position: bottom;
}

.object-p2 {
  object-position: top;
}

.ex-title {
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  letter-spacing: 2px;
  margin-bottom: 3px;
  margin-left: 16px;
  font-size: 20px;
  width: fit-content;
  padding-bottom: 5px;
}

.blue-bb {
  border-bottom: solid 3px #b7c5e7;
}

.orange-bb {
  border-bottom: solid 3px #fccca1;
}

.red-bb {
  border-bottom: solid 3px #e5bebe;
}

.green-bb {
  border-bottom: solid 3px #b6dfa8;
}

.purple-bb {
  border-bottom: solid 3px #d0c0e9;
}

.ex-sub {
  font-size: 17px;
  margin-top: 8px;
  margin-left: 16px;
}

.ex-text {
  font-size: 12px;
  margin-left: 16px;
  width: 85%;
}

@media (min-width: 768px) {
  .ex-title {
    font-size: 27px;
    margin-left: 25px;
  }

  .ex-sub {
    font-size: 20px;
    margin-left: 25px;
  }

  .ex-text {
    font-size: 16px;
    margin-left: 25px;
  }

  .ex-images {
    height: 50vh;
  }
}

@media (min-width: 998px) {
  .ex-title {
    font-size: 26px;
  }

  .ex-sub {
    font-size: 20px;
  }

  .ex-text {
    font-size: 17px;
  }

  .ex-images {
    height: 55vh;
  }
}
