.ex-images {
    width: 100%;
    object-fit: cover;
    height: 45vh;
    margin-top: 3rem;
}

.object-p1 {
    object-position: bottom;
}

.object-p2 {
    object-position: top;
}

.ex-title {
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    letter-spacing: 2px;
    margin-bottom: 3px;
    padding-left: 23px;
}

.ex-sub {
    font-size: 19px;
    margin-top: 0;
    padding-left: 23px;
}

.ex-text {
    font-size: 14px;
    padding-left: 23px;
    width: 85%;
}