.info-main {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}

.hours-container {
  max-width: 400px;
  margin: 30px 0 0 30px;
  padding: 5px 0 20px 0;
  width: 85%;
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.hours-container p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hours-container h2 {
  border-bottom: solid #b7c5e7 3px;
}

.food-container {
  max-width: 400px;
  margin: 30px 30px 0 30px;
  padding: 5px 0 20px 0;
  width: 85%;
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.food-container h2 {
  border-bottom: solid #b6dfa8 3px;
}

.food-container p {
  width: 85%;
}

.admission {
  max-width: 1200px;
  margin-top: 80px;
}

.admission h2 {
  border-bottom: solid #fccca1 3px;
}

.shop-container {
  max-width: 1200px;
  margin-top: 80px;
}

.shop-container h2 {
  border-bottom: solid #e5bebe 3px;
}

.location-container {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.location-container h2 {
  border-bottom: solid #d0c0e9 3px;
}

iframe {
  width: 92%;
  margin-left: 16px;
  max-width: 1200px;
}

.accessibility {
  margin-top: 80px;
  margin-bottom: 100px;
  max-width: 1200px;
}

.accessibility h2 {
  border-bottom: solid #b6dfa8 3px;
  padding-bottom: 5px;
}

@media (min-width: 600px) {
  .info-main {
    flex-direction: row;
  }

  .food-container,
  .hours-container {
    flex: 1;
  }
}

@media (min-width: 768px) {
  .info-main {
    gap: 20px;
  }

  #info-hero {
    object-position: 75% 25%;
  }

  iframe {
    margin-left: 25px;
  }
}
